{% include "header.html.twig" %}
{% include "navigation.html.twig" %}
<main class="Site-content">
    <section class="Section">
        <div class="Container">
            <h2 class="Section-heading">Demo Page</h2>
            {% include "errorMessages.html.twig" %}
            {% include "statusMessage.html.twig" %}
            <form action="/fademo" method="post">
                <div class="Grid Grid--gutters">
                    <div class="InputCombo Grid-full">
                        <label for="demo_field" class="InputCombo-label">Demo Field*:</label>
                        <input type="text" id="demo_field" name="demo_field" value="{{ demo_field }}" class="InputCombo-field">
                    </div>
                    <div class="Grid-full">
                        <button type="submit" class="Button">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <section class="Section">
        <div class="Container">
            <h2 class="Section-heading">Demo Text</h2>
            {% if result is defined %}
                <table class="Table u-tableW100">
                    <colgroup span="2" class="u-tableW50"></colgroup>
                    <thead>
                    <tr class="Table-row">
                        <th class="Table-header">Demo Field</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key, value in result %}
                    <tr class="Table-row">
                        <td class="Table-data">{{ value['demo_field'] | escape | nl2br }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {%  endif %}
        </div>
    </section>
</main>
{% include "footer.html.twig" %}