{% include "header.html.twig" %}
{% include "navigation.html.twig" %}
<main class="Site-content">
    <section class="Section">
        <div class="Container">
            {{ imprint | raw }}
        </div>
    </section>
</main>
{% include "footer.html.twig" %}
