<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
</head>
<body class="Site">
<header class="Site-header">
    <div class="Header Header--small">
        <div class="Header-titles">
            <h1 class="Header-title"><i class="fas fa-route"></i>About Routing</h1>
            <p class="Header-subtitle">Skeleton</p>
        </div>
    </div>
</header>
<main class="Site-content">
    <section class="Section">
        <div class="Container">
            <h2 class="Section-heading">About</h2>
            <p>This Lessons are based on Routing</p>
            <a href="/demo">Normform Demo</a><br>
            <a href="/imprint">Imprint</a><br>
            <a href="/contact">Contact</a><br>
            <a href="/fademo">FileAccess Demo</a><br>
            <a href="/register">Register</a><br>
            <a href="/login">Login</a>
        </div>
    </section>
</main>
<footer class="Site-footer">
    <div class="Footer Footer--small">
        <p class="Footer-credits">
            Created and maintained by <a href="mailto:martin.harrer@fh-hagenberg.at">Martin Harrer</a> and
            <a href="mailto:wolfgang.hochleitner@fh-hagenberg.at">Wolfgang Hochleitner</a>.
        </p>
        <p class="Footer-version">
            <a href="nixi">404</a>
        </p>
        <p class="Footer-version">
            <i class="fas fa-route"></i>
            <a href="https://github.com/Digital-Media/fhooe-router" target="_blank">Router-Skeleton Version 0.0.1</a>
        </p>
    </div>
</footer>
</body>
</html>
