<!-- Styles not needed for NormFormDemo, therefore not in css. So its easier to reuse NormFormDemo -->
<style type="text/css">
        .Navigation {
            text-align: left;
        }
</style>
<div class="Header Navigation">
    <nav class="Container">
        <span class="u-spaceRS" ><a href="{{ url_for('GET /') }}">Home</a></span>
        <span class="u-spaceRS" ><a href="{{ url_for('GET /register') }}">Register</a></span>
        <span class="u-spaceRS" ><a href="{{ url_for('GET /fademo') }}">File Access Demo</a></span>
    </nav>
</div>
